.modal-content.about
  .modal-header
    .section
      if lang == 'fi'
        h1
          p Turun kaupungin palvelukartan saavutettavuusseloste
          a(href="#", data-dismiss="modal").icon.icon-icon-close
      if lang == 'sv'
        h1
          ip Turun kaupungin palvelukartan saavutettavuusseloste
          a(href="#", data-dismiss="modal").icon.icon-icon-close
      if lang == 'en'
        h1
          p Turun kaupungin palvelukartan saavutettavuusseloste
          a(href="#", data-dismiss="modal").icon.icon-icon-close
  .modal-body
    .section

      if lang == 'fi'

        p &nbsp;
        p Tämä saavutettavuusseloste koskee Turun kaupungin palvelukarttaa, !{externalLink('https://palvelukartta.turku.fi/', 'https://palvelukartta.turku.fi')} ja on laadittu 18.09.2019. Vastaava pääkaupunkiseudun palvelukartta on arvioitu loppuvuonna 2018.

        h3 Digipalvelun saavutettavuuden tila
        span Ei täytä kriittisiä vaatimuksia

        h3 Digipalvelun ei-saavutettava sisältö
        ul
          li Havaittava
          li Hallittava
          li Ymmärrettävä
          li Toimintavarma
        p
          strong Palvelukartan käyttöliittymä on haasteellinen ruudunlukijalle
        p
          strong Syy noudattamatta jättämiselle
          p Kohtuuton rasite
        p
          strong Kerro perustelut, miksi vetoat kohtuuttomaan rasitteeseen. Kerro myös aikataulu, jossa puutteet korjataan. Kerro kuinka tiedon/palvelun voi saada vaihtoehtoisella tavalla?

          p Palvelukartan toteutus pohjautuu Helsingin kaupungin tekemään avoimen lähdekoodin ratkaisuun. Kyseistä ratkaisua ollaan parhaillaan rakentamassa maailman saavutettavimmaksi palvelukartaksi. Turku on mukana tässä kehitystyössä.

          p Pääkaupunkiseudun palvelukartta päivittyy 2020 alkuvuoden aikana, minkä jälkeen Turku voi ottaa uudistetun koodin käyttöönsä.
          p Tekeillä olevaa kehitystyötä voi seurata

          ul
            li !{externalLink('https://www.hel.fi/blogit/fi/kirjoitukset/maailman-saavutettavin-palvelukartta/', 'Maailman saavutettavin palvelukartta')} -blogissa (linkki avautuu uuteen ikkunaan)  ja
            li !{externalLink('https://palvelut.hel.ninja/fi/', 'palvelukartan testiversiolla')} (linkki avautuu uuteen ikkunaan)
        p
          h3 Palvelukartalla esillä olevat tiedot
          ul
            li Palvelukartalla esitettävät palvelutiedot tulevat turku.fi-verkkopalvelusta eli niitä voi hyödyntää osoitteessa !{externalLink('https://www.turku.fi/palveluhakemisto', 'https://www.turku.fi/palveluhakemisto')} (linkki avautuu uuteen ikkunaan).
            li Reitin haluttuun osoitteeseen voi etsiä !{externalLink('https://reittiopas.foli.fi/', 'föli.fi:n reittioppaasta')} (linkki avautuu uuteen ikkunaan)
        h3 Huomasitko saavutettavuuspuutteen digipalvelussamme? Kerro se meille ja teemme parhaamme puutteen korjaamiseksi

        p
          strong !{externalLink('https://opaskartta.turku.fi/eFeedback/fi/Feedback/87/1048', 'Anna saavutettavuuspalautetta verkkolomakkeella')}

        h3 Valvontaviranomainen
        p Jos huomaat sivustolla saavutettavuusongelmia, anna ensin palautetta sivuston ylläpitäjälle. Vastauksessa voi mennä 14 päivää. Jos et ole tyytyväinen saamaasi vastaukseen tai et saa vastausta lainkaan kahden viikon aikana, voit antaa palautteen Etelä-Suomen aluehallintovirastoon. Etelä-Suomen aluehallintoviraston sivulla kerrotaan tarkasti, miten valituksen voi tehdä ja miten asia käsitellään.

        h3 Valvontaviranomaisen yhteystiedot
        div Etelä-Suomen aluehallintovirasto <br>Saavutettavuuden valvonnan yksikkö <br>www.saavutettavuusvaatimukset.fi <br>saavutettavuus(at)avi.fi <br>puhelinnumero vaihde 0295 016 000

        h2 Teemme Turun kaupungilla jatkuvasti työtä saavutettavuuden parantamiseksi
        p
          strong Digipalveluistamme on tehty saavutettavuusarviointi
        p Saavutettavuusraportit ovat tekeillä.
        p
          strong Olemme sitoutuneet digipalveluiden saavutettavuuden parantamiseen
        p Turun kaupungin saavutettavuusosaamista kehitetään suunnitelmallisesti ja määrätietoisesti. Kaupungin saavutettavuuden puitesopimustoimittajat tulevat arvioimaan kaupungin nykyiset verkkopalvelut. Arvioinnin perusteella palveluiden saavutettavuutta kehitetään lain vaatimalle tasolle kunkin palvelun määräaikaan mennessä. Uusien verkkopalveluiden kehittämisessä ja hankinnassa saavutettavuus huomioidaan alusta lähtien. Saavutettavuuskoulutusta järjestetään kaikille osapuolille, jotka osallistuvat verkkopalveluiden kehittämiseen ja niiden sisältöjen tuottamiseen. Kaupungissa on käynnissä projekti Saavutettavuuslain vaatimusten täyttäminen.
        p
          strong Tarjoamme tukea käyttäjille joille digipalvelut eivät ole saavutettavissa
        p Turun kaupungin asiointipisteistä Skanssin Monitorissa (Skanssinkatu 10, 20730 Turku, puhelin 040 160 4556) sekä tulevassa kauppatorin Monitorissa (Aurakatu 8, 20100 Turku) ja kirjastoissa on mahdollisuus saada digitukea.
        p
          strong Tämä verkkosivusto/sovellus on julkaistu
        p 23.09.2019


      if lang == 'sv'
        p &nbsp;
        p Tämä saavutettavuusseloste koskee Turun kaupungin palvelukarttaa, !{externalLink('https://palvelukartta.turku.fi/', 'https://palvelukartta.turku.fi')} ja on laadittu 18.09.2019. Vastaava pääkaupunkiseudun palvelukartta on arvioitu loppuvuonna 2018.

        h3 Digipalvelun saavutettavuuden tila
        span Ei täytä kriittisiä vaatimuksia

        h3 Digipalvelun ei-saavutettava sisältö
        ul
          li Havaittava
          li Hallittava
          li Ymmärrettävä
          li Toimintavarma
        p
          strong Palvelukartan käyttöliittymä on haasteellinen ruudunlukijalle
        p
          strong Syy noudattamatta jättämiselle
          p Kohtuuton rasite
        p
          strong Kerro perustelut, miksi vetoat kohtuuttomaan rasitteeseen. Kerro myös aikataulu, jossa puutteet korjataan. Kerro kuinka tiedon/palvelun voi saada vaihtoehtoisella tavalla?

          p Palvelukartan toteutus pohjautuu Helsingin kaupungin tekemään avoimen lähdekoodin ratkaisuun. Kyseistä ratkaisua ollaan parhaillaan rakentamassa maailman saavutettavimmaksi palvelukartaksi. Turku on mukana tässä kehitystyössä.

          p Pääkaupunkiseudun palvelukartta päivittyy 2020 alkuvuoden aikana, minkä jälkeen Turku voi ottaa uudistetun koodin käyttöönsä.
          p Tekeillä olevaa kehitystyötä voi seurata

          ul
            li !{externalLink('https://www.hel.fi/blogit/fi/kirjoitukset/maailman-saavutettavin-palvelukartta/', 'Maailman saavutettavin palvelukartta')} -blogissa (linkki avautuu uuteen ikkunaan)  ja
            li !{externalLink('https://palvelut.hel.ninja/fi/', 'palvelukartan testiversiolla')} (linkki avautuu uuteen ikkunaan)
        p
          h3 Palvelukartalla esillä olevat tiedot
          ul
            li Palvelukartalla esitettävät palvelutiedot tulevat turku.fi-verkkopalvelusta eli niitä voi hyödyntää osoitteessa !{externalLink('https://www.turku.fi/palveluhakemisto', 'https://www.turku.fi/palveluhakemisto')} (linkki avautuu uuteen ikkunaan).
            li Reitin haluttuun osoitteeseen voi etsiä !{externalLink('https://reittiopas.foli.fi/', 'föli.fi:n reittioppaasta')} (linkki avautuu uuteen ikkunaan)
        h3 Huomasitko saavutettavuuspuutteen digipalvelussamme? Kerro se meille ja teemme parhaamme puutteen korjaamiseksi

        p
          strong !{externalLink('https://opaskartta.turku.fi/eFeedback/fi/Feedback/87/1048', 'Anna saavutettavuuspalautetta verkkolomakkeella')}

        h3 Valvontaviranomainen
        p Jos huomaat sivustolla saavutettavuusongelmia, anna ensin palautetta sivuston ylläpitäjälle. Vastauksessa voi mennä 14 päivää. Jos et ole tyytyväinen saamaasi vastaukseen tai et saa vastausta lainkaan kahden viikon aikana, voit antaa palautteen Etelä-Suomen aluehallintovirastoon. Etelä-Suomen aluehallintoviraston sivulla kerrotaan tarkasti, miten valituksen voi tehdä ja miten asia käsitellään.

        h3 Valvontaviranomaisen yhteystiedot
        div Etelä-Suomen aluehallintovirasto <br>Saavutettavuuden valvonnan yksikkö <br>www.saavutettavuusvaatimukset.fi <br>saavutettavuus(at)avi.fi <br>puhelinnumero vaihde 0295 016 000

        h2 Teemme Turun kaupungilla jatkuvasti työtä saavutettavuuden parantamiseksi
        p
          strong Digipalveluistamme on tehty saavutettavuusarviointi
        p Saavutettavuusraportit ovat tekeillä.
        p
          strong Olemme sitoutuneet digipalveluiden saavutettavuuden parantamiseen
        p Turun kaupungin saavutettavuusosaamista kehitetään suunnitelmallisesti ja määrätietoisesti. Kaupungin saavutettavuuden puitesopimustoimittajat tulevat arvioimaan kaupungin nykyiset verkkopalvelut. Arvioinnin perusteella palveluiden saavutettavuutta kehitetään lain vaatimalle tasolle kunkin palvelun määräaikaan mennessä. Uusien verkkopalveluiden kehittämisessä ja hankinnassa saavutettavuus huomioidaan alusta lähtien. Saavutettavuuskoulutusta järjestetään kaikille osapuolille, jotka osallistuvat verkkopalveluiden kehittämiseen ja niiden sisältöjen tuottamiseen. Kaupungissa on käynnissä projekti Saavutettavuuslain vaatimusten täyttäminen.
        p
          strong Tarjoamme tukea käyttäjille joille digipalvelut eivät ole saavutettavissa
        p Turun kaupungin asiointipisteistä Skanssin Monitorissa (Skanssinkatu 10, 20730 Turku, puhelin 040 160 4556) sekä tulevassa kauppatorin Monitorissa (Aurakatu 8, 20100 Turku) ja kirjastoissa on mahdollisuus saada digitukea.
        p
          strong Tämä verkkosivusto/sovellus on julkaistu
        p 23.09.2019


      if lang == 'en'
        p &nbsp;
        p Tämä saavutettavuusseloste koskee Turun kaupungin palvelukarttaa, !{externalLink('https://palvelukartta.turku.fi/', 'https://palvelukartta.turku.fi')} ja on laadittu 18.09.2019. Vastaava pääkaupunkiseudun palvelukartta on arvioitu loppuvuonna 2018.

        h3 Digipalvelun saavutettavuuden tila
        span Ei täytä kriittisiä vaatimuksia

        h3 Digipalvelun ei-saavutettava sisältö
        ul
          li Havaittava
          li Hallittava
          li Ymmärrettävä
          li Toimintavarma
        p
          strong Palvelukartan käyttöliittymä on haasteellinen ruudunlukijalle
        p
          strong Syy noudattamatta jättämiselle
          p Kohtuuton rasite
        p
          strong Kerro perustelut, miksi vetoat kohtuuttomaan rasitteeseen. Kerro myös aikataulu, jossa puutteet korjataan. Kerro kuinka tiedon/palvelun voi saada vaihtoehtoisella tavalla?

          p Palvelukartan toteutus pohjautuu Helsingin kaupungin tekemään avoimen lähdekoodin ratkaisuun. Kyseistä ratkaisua ollaan parhaillaan rakentamassa maailman saavutettavimmaksi palvelukartaksi. Turku on mukana tässä kehitystyössä.

          p Pääkaupunkiseudun palvelukartta päivittyy 2020 alkuvuoden aikana, minkä jälkeen Turku voi ottaa uudistetun koodin käyttöönsä.
          p Tekeillä olevaa kehitystyötä voi seurata

          ul
            li !{externalLink('https://www.hel.fi/blogit/fi/kirjoitukset/maailman-saavutettavin-palvelukartta/', 'Maailman saavutettavin palvelukartta')} -blogissa (linkki avautuu uuteen ikkunaan)  ja
            li !{externalLink('https://palvelut.hel.ninja/fi/', 'palvelukartan testiversiolla')} (linkki avautuu uuteen ikkunaan)
        p
          h3 Palvelukartalla esillä olevat tiedot
          ul
            li Palvelukartalla esitettävät palvelutiedot tulevat turku.fi-verkkopalvelusta eli niitä voi hyödyntää osoitteessa !{externalLink('https://www.turku.fi/palveluhakemisto', 'https://www.turku.fi/palveluhakemisto')} (linkki avautuu uuteen ikkunaan).
            li Reitin haluttuun osoitteeseen voi etsiä !{externalLink('https://reittiopas.foli.fi/', 'föli.fi:n reittioppaasta')} (linkki avautuu uuteen ikkunaan)
        h3 Huomasitko saavutettavuuspuutteen digipalvelussamme? Kerro se meille ja teemme parhaamme puutteen korjaamiseksi

        p
          strong !{externalLink('https://opaskartta.turku.fi/eFeedback/fi/Feedback/87/1048', 'Anna saavutettavuuspalautetta verkkolomakkeella')}

        h3 Valvontaviranomainen
        p Jos huomaat sivustolla saavutettavuusongelmia, anna ensin palautetta sivuston ylläpitäjälle. Vastauksessa voi mennä 14 päivää. Jos et ole tyytyväinen saamaasi vastaukseen tai et saa vastausta lainkaan kahden viikon aikana, voit antaa palautteen Etelä-Suomen aluehallintovirastoon. Etelä-Suomen aluehallintoviraston sivulla kerrotaan tarkasti, miten valituksen voi tehdä ja miten asia käsitellään.

        h3 Valvontaviranomaisen yhteystiedot
        div Etelä-Suomen aluehallintovirasto <br>Saavutettavuuden valvonnan yksikkö <br>www.saavutettavuusvaatimukset.fi <br>saavutettavuus(at)avi.fi <br>puhelinnumero vaihde 0295 016 000

        h2 Teemme Turun kaupungilla jatkuvasti työtä saavutettavuuden parantamiseksi
        p
          strong Digipalveluistamme on tehty saavutettavuusarviointi
        p Saavutettavuusraportit ovat tekeillä.
        p
          strong Olemme sitoutuneet digipalveluiden saavutettavuuden parantamiseen
        p Turun kaupungin saavutettavuusosaamista kehitetään suunnitelmallisesti ja määrätietoisesti. Kaupungin saavutettavuuden puitesopimustoimittajat tulevat arvioimaan kaupungin nykyiset verkkopalvelut. Arvioinnin perusteella palveluiden saavutettavuutta kehitetään lain vaatimalle tasolle kunkin palvelun määräaikaan mennessä. Uusien verkkopalveluiden kehittämisessä ja hankinnassa saavutettavuus huomioidaan alusta lähtien. Saavutettavuuskoulutusta järjestetään kaikille osapuolille, jotka osallistuvat verkkopalveluiden kehittämiseen ja niiden sisältöjen tuottamiseen. Kaupungissa on käynnissä projekti Saavutettavuuslain vaatimusten täyttäminen.
        p
          strong Tarjoamme tukea käyttäjille joille digipalvelut eivät ole saavutettavissa
        p Turun kaupungin asiointipisteistä Skanssin Monitorissa (Skanssinkatu 10, 20730 Turku, puhelin 040 160 4556) sekä tulevassa kauppatorin Monitorissa (Aurakatu 8, 20100 Turku) ja kirjastoissa on mahdollisuus saada digitukea.
        p
          strong Tämä verkkosivusto/sovellus on julkaistu
        p 23.09.2019
